<div class="col-xs-12 col-sm-4">
<!-- image url has to change with the url of the profile pic -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), cl_image_tag @bike.photo.key;">
  <div class="card-category"><i class="fa fa-usd" aria-hidden="true"></i>
    <%= bike.id %></div>
    <div class="card-description">
      <h2><%= bike.name %></h2>
      <p><%= bike.address %></p>
      <p><%= bike.price %>€</p>
      <p><%= link_to "Book", new_bike_booking_path(bike) %></p>
    </div>
    <%= link_to bike_path(bike), class: "card-link" do %>
    <% end %>
  </div>
</div>
