<div class="col-xs-12 col-sm-4">
<!-- image url has to change with the url of the profile pic -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1475666675596-cca2035b3d79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
  <div class="card-category"><i class="fa fa-usd" aria-hidden="true"></i>
    <%= bike.id %></div>
    <div class="card-description">
      <h2><%= bike.name %></h2>
      <p><%= bike.address %></p>
      <p><%= bike.price %>€</p>
    </div>
    <%= link_to bike_path(bike), class: "card-link" do %>
    <% end %>
  </div>
</div>
