<div class="container test">

  <div class="page-header">
    <h1>Check Our Bikes <small>Find your dream bikee !</small></h1>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row">
          <% @bikes.each do |bike| %>
            <%= render 'card', bike: bike %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4" style="right: -7%;">
      <div
        class ="map-container sticky-top"
        id="map"
        style="height: 600px; width: 100%; position: sticky;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<!-- <h1>Our beautiful Bikes</h1>

<h2><%= link_to "Add Bike", new_bike_path %></h2>
<h2><% @bikes.each do |bike| %></h2>
  <p><%= bike.name %></p>
  <p><%= bike.address %></p>
  <p><%= link_to "Edit", edit_bike_path(bike) %></p>
  <p><%= link_to "Delete", bike_path(bike),
  method: :delete %></p>
  <p><%= link_to "Book", new_bike_booking_path(bike) %></p>
<% end %> -->

